{% extends 'base.html' %}

{% block content %}
    
    {% if user.is_authenticated %}
        {% if object %}
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h3 class="card-title text-center">{{object.title}}</h3>
                            <h4> by: {{ object.author }} </h4>
                            <h5>written on: {{ object.pub_date }} </h5>
                            <p>{{ object.content }}</p>
                            <br><br><br>
                            <form action="{% url 'diary:update' object.id %}" method="get">
                                <button type="submit" class="btn btn-lg btn-primary btn-block ">edit this...</button>
                            </form>

                            <br><br>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h2 class="font-weight-bold">Hold it right there!</h2>
                            <h4 class="text-danger">This is someone else's diary entry.</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        {% endif %}
    {% else %}
        Oops! You are not logged in.
    {% endif %}
{% endblock content %}
